<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" />
  <!-- <script src="https://cdn.jsdelivr.net/npm/eruda" onload="eruda.init()" async></script> -->
</head>

<body class="container">
  <a id="top" href="#bottom" class="pa-2 pb-4 float-right">Bottom [v]</a>
  <div class="mt-3" id="app">
    <h4>Top 100 Lists</h4>
    <hr />
    <div class="cards row">
      <div class="py-2 col-6 col-md-4 col-lg-3 col-xl-2" v-for="(item, index) in items" :key="index">
        <div class="card" :id="`track-${index}`">
          <img :src="item.images[0]" class="card-img-top" alt="image" />
          <div class="card-header font-weight-bold">
            <span class="badge font-size-small badge-pill badge-primary">#{{ item.position }}</span>
            {{ item.name }}
          </div>
          <div class="card-body">
            <span class="badge badge-primary mx-1" v-if="item.genre">
              {{ item.genre }}
            </span>
            <span class="badge badge-secondary mx-1" v-for="(artist, artistIndex) in item.artists" :key="artistIndex">
              {{ artist }}
            </span>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" :class="item.loading && 'disabled'" @click="load(index)">
              <span v-if="!item.loading && item.playing">
                <i class="fa" :class="item.state === 'paused' ? 'fa-play' : 'fa-pause'" @click="item.state === 'paused' ? play() : pause()"></i>
              </span>
              <span v-else>
                <i class="fa" :class="item.loading ? 'fa-circle-o-notch fa-spin' : 'fa-play'"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a id="bottom" href="#top" class="pa-2 pb-4 float-right">Top [^]</a>
  <script src="main.js"></script>
</body>

</html>
